html {
	padding: 0;
	margin: 0;
}

body {
	background-color: #eed;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.foo {
	text-align: center;
}

.bar {
    color: #636b6f;
    /* font-family: 'Raleway', sans-serif; */
    font-family: "freight-text-pro";
    font-weight: 100;
    color: pink;
}

